// Font Variables;

// Color
$text-light : #979797;
$text-dark : #212121;
$text-primary : #0065f2;
$text-secondary : #ff7300;

// Font-weight 
$text-bold : 600;

// Font Size
$text-xlarge : 40px;
$text-large : 28px;
$text-large1 : 26px;
$text-large2: 20px; 
$text-large3 : 18px;
$text-large4 : 16px;
$text-medium : 14px;
$text-medium2 : 12px; 