.Signin-Card {
    border-radius: 2px;
    background-color: #ffffff;
    height: 80vh;
  }
  .Button_aline{
      padding-left: 64px;
      padding-top: 184px;
  }
  .line {
    height: 1px;
    background-color: #f0f0f0;
  }
.signin-form-container{
  padding: 3.5rem;
}

.auth-base-container{
  height: calc(100vh - 56px);
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
}

.auth-dialog-container{
  width: 55%;
  min-width: 500px;
  max-width: 800px;
  margin: auto;
}

.auth-form-container{
  width: 60%;
  margin: auto;
  margin-top:2rem;
}